# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
backend/venv/
*.db
*.sqlite3

# Environment & IDE
.env
.env.local
.vscode/
.idea/
.DS_Store
